################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessagingDemo/.vs/MessagingDemo/v14/.suo
/MessagingDemo/Client/obj/Debug
